* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1a73e8;
  --light-bg: #f1f3f4;
  --border-color: #dadce0;
  --text-color: #202124;
  --font-family: "Roboto", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.my-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.btn-save {
  background-color: #0b57d0;
  color: #f5f5f5;
  padding: 10px 15px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  will-change: transform, opacity;
}

.contact-photo {
  border-radius: 50%;
  cursor: pointer;
  height: 162px;
  width: 162px;
}

.photo-add {
  transform: translateY(-50%);
  z-index: 1;
  line-height: inherit;
  position: absolute;
  top: 20%;
}

.btn-photo {
  background-color: #0b57d0;
  border-radius: 9999px;
  color: #fff;
  border: none;
  position: relative;
  height: 48px;
  width: 48px;
}

.btn-photo .material-icons {
  font-size: 20px;
  color: white;
}

.form-row {
  display: flex;
  gap: 10px;
}

.input-group {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  position: relative;
  width: 100%;
}

.input-group .material-icons,
.input-group .empty-icon {
  width: 40px;
  text-align: center;
}

.empty-icon::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  visibility: hidden;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.floating-label-container {
  flex: 1;
  margin-top: 4px;
  position: relative;
  width: 100%;
}

.floating-label-container input {
  width: 100%;
  padding: 14px 10px 4px;
  font-size: 16px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  transition: border-color 0.2s ease-in-out;
}

.floating-label-container label {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #5f6368;
  background-color: white;
  padding: 0 4px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.floating-label-container input:focus + label,
.floating-label-container input:not(:placeholder-shown) + label {
  top: 3px;
  left: 36px;
  font-size: 12px;
  color: var(--primary-color);
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
  border-color: var(--primary-color);
}

.material-icons {
  color: #757575;
}

.add-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.btn-secondary {
  align-items: center;
  background-color: #f0f4f9;
  color: #0b57d0;
  display: flex;
  font-size: 14px;
  gap: 8px;
  padding: 10px 15px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  height: auto;
  justify-content: center;
  min-width: 195px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.btn-secondary .material-icons {
  font-size: 20px;
  color: #0b57d0;
}

.floating-label-container textarea:focus + label,
.floating-label-container textarea:not(:placeholder-shown) + label {
  top: 4px;
  font-size: 12px;
  color: #1a73e8;
}

.floating-label-container textarea {
  width: 100%;
  min-height: 40px;
  resize: vertical;
  padding: 10px 10px 10px 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

/* Responsividad */
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }

  .input-group {
    width: 100%;
  }
}

/* medianas */
@media (max-width: 900px) {
  .form-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .input-group {
    width: 48%;
  }
}

/* grandes */
@media (min-width: 1200px) {
  .form-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .input-group {
    width: 30%;
  }
}
